<main>
  <div class="yo" [ngClass]="{ 'is-phone-portrait': isPhonePortrait }">
    <div class="about">
      <p>
        Hey there, thank you for visiting this page My name is Natallia, I am a
        tattoo artist and a designer based in Los Angeles. Here you can find my
        tattoo portfolio, available designs, upcoming dates for new cities and
        all other projects I have been working on. I hope time here will inspire
        your vision for new ink on your bodies or other things we can
        collaborate on.
        <a href="https://form.jotform.com/221425285579059">book</a>
      </p>
    </div>
  </div>
  <div class="upcoming" [ngClass]="{ 'is-phone-portrait': isPhonePortrait }">
    <h3>Upcomig Events</h3>
    <p>NYC 11-16</p>
    <p>LA MAY-JUNE</p>
    <p>CHICAGO 13-12</p>
  </div>
</main>
